/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.obsolete{
    background-color: #F60;
    color: #ffffff;
    text-align: center;
    padding: 2px;
    z-index: 600;
    position: relative;
}
.obsolete a{
    color: inherit;
    border-bottom: 1px dotted #ffffff;
}

.clear-purple{
    color: #D00010;
}

.dark-purple{
    color: #ac2925;
}

.btn-purple{
    background-color: #ac2925;
    border-color: #AD1111;
    color: #FFFFFF;
}

.btn-purple:hover{
    background-color: #D00010;
    border-color: #ac2925;
    color: #FFFFFF;
}

a:focus{
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.footer-divider {
    margin-bottom: 50px; /* Space out the Bootstrap <hr> more */
    margin-top: 0;
}

.home-actus{
    margin-bottom: 70px;
    max-width: 700px;
    background-color: #eee;
    padding: 20px;
    margin: 0 auto 80px auto;
}

.home-actus blockquote{
    border-left: 5px solid #ac2925;
}

.home-actus blockquote.blockquote-reverse{
    border-left: none;
    border-right: 5px solid #ac2925;
}

.home-actus blockquote footer{
    color: #ac2925;
}

.home-actus-titre{
    text-align: center;
    margin-bottom: 40px;
    color: #ac2925;
}

img.img-preview{
    width: 85px;
    height: 68px;
}

img.img-diaporama{
    width: 205px;
    height: 150px;
}

h2.title{
    color: #ac2925;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    border-bottom: 1px solid #ac2925;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

a.backTop{
    color: #ac2925;
}

img.img-clickable{
    cursor: pointer;
}

/* FACEBOOK
------------------------- */

.facebook{
    background-color: #3B5998;
    cursor: pointer;
}

.facebook a{
    color: #ffffff !important;
}

.facebook a:hover{
    color: #ffffff !important;
}

li.facebook:hover{
    background-color: #394e8b;
}


/* SECTION
-------------------------------------------------- */

section.header{
    height: 120px;
}

section{
    padding-bottom: 80px;
}
section.grey{
    background-color: #E7E4E4;
}

section .section-title{
    text-align: center;
    max-width: 900px;
    margin: 0 auto 100px auto;
}

section h1{
    color: #ac2925;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

section p.section-description{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-image-container{
    width: 100%;
    height: 100%;
}

.bandeau{
    height: 500px;
    margin-bottom: 60px;
    position: relative;
}

.bandeau img{
    background-size: cover;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 0px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette.last-featurette{
    margin-bottom: 50px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-wrapper .navbar-static-top {
        z-index: 1000;
        border-width: 0 0 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

@media (max-width: 992px) {
    .navbar-wrapper .navbar-collapse.collapse.in { 
        display: block!important; margin-top: 0px; 
    }
    
    .navbar-wrapper .navbar-header {
        float: none;
    }
    .navbar-wrapper .navbar-toggle {
        display: block;
    }
    .navbar-wrapper .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-wrapper .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-wrapper .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-wrapper .navbar-nav>li {
        float: none;
    }
    .navbar-wrapper .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-wrapper .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .navbar-wrapper .collapsing {
        overflow: hidden!important;
    }
    .featurette-heading {
        margin-top: 120px;
    }
}

.brightness
{
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
}

.icones-lg{
  font-size: 35px;
}

.img-centered{
    margin: 0 auto;
}

.login{
    padding: 20px;
    background-color: #FCFCFC;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
}

.block-categorie{
    display: inline-block;
    padding: 20px;
    background-color: #ac2925;
    margin-bottom: 50px;
}

a.block-categorie{
    color: #FFFFFF;
    font-size: 17px;
    border: 1px solid #ac2925;
    margin-right: -3px;
}

a.block-categorie:hover{
    background-color: #D00010;
    border: 1px solid #c63424;
    color: #FFFFFF;
    text-decoration: none;
}

/* Contact
------------------------- */

#contact .ligne-tuile{
    margin-bottom: 30px;
}

#contact .tuile-contact{
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
    color: #ac2925;
    font-size: 17px;
}

#contact .tuile-contact .row{
    margin-bottom: 20px;
}

#contact .tuile-contact.form .icone{

}

#contact .tuile-contact.form div{
    text-align: left;
}

#contact .tuile-contact .icone{
    color: #ac2925;
    font-size: 50px;
}

#contact .tuile-contact .icone-fb{
    color: #3B5998;
    font-size: 50px;
}

#contact .tuile-contact a{
    color: #ac2925;
}

#contact .tuile-contact .centered{
    margin-top: 10px;
}

#contact .tuile-contact blockquote{
    text-align: left;
    font-size: 15px;
    border-color: #ffffff;
}

#contact hr.contact-divider{
    border-color: #ffffff;
}

/* Diaporama
------------------------- */

.gallery li {
    width: 215px;
    height: 185px;
    display: block;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}

.gallery li img{
    cursor: pointer;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/* Commander
------------------------- */

.commande-heading {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    min-height: 80px;
}

.selection{
    text-align: center;
    padding-bottom: 20px;
    background-color: #EBEBEB;
}

h5.title-selection {
    text-align: left;
    padding: 21px 20px;
    font-size: 18px;
    background-color: #ac2925;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.selection .block-total,  #commander .selection .block-total-recap{
    margin-bottom: 5px;
    border-top: 1px solid #ffffff;
    padding-top: 15px;
}

table.tab-vin-selection {
    text-align: left;
    margin-bottom: 0;
}

table.tab-vin-selection td:last-child {
    padding-right: 15px;
}
table.tab-vin-selection td:first-child {
    padding-left: 20px;
}

table.tab-vin-selection tr td {
    background-color: #ebebeb;
    padding: 20px 5px;
    border: none;
}

table.tab-vin-selection td:nth-child(1), table.tab-vin-selection td:nth-child(4) {
    width: 284px;
}

.selection .block-total p.price, .selection .block-total-recap p.price{
    text-align: right;
    padding-right: 10px;
    font-weight: 900;
}

.selection .block-total p.total, .selection .block-total-recap p.total{
    text-align: left;
    padding-left: 20px;
}

#commander button.btn-commander{
    width: 90%;
}

#commander .icone-remove-commande{
    top: 4px;
    cursor: pointer;
}

.explications{
    padding: 20px;
}

#recapitulatif .link-back-command{
    cursor: pointer;
    color: #ac2925;
    font-size: 17px;
    margin-top: 20px;
}

#recapitulatif .form-commande{
    padding: 20px;
    background-color: #ebebeb;
}

#recapitulatif .form-commande .row{
    margin-bottom: 20px;
}

/* CAVEAU
------------------------- */

#caveau .image-coffret{
    padding: 15px 0;
}

#categories.affix{
    top: 1px;
    left: 425;
    z-index: 100;
}